.hidden
{
  display: none;
}

body
{
	font-family: Helvetica, Arial, san-serif;
	font-size: 14px;
	color: #000;
	background-color: #ccc;
	background: url(../images/wormz.png);
}

img
{
	border: none;
	margin: 0;
	padding: 0;
}

a
{
	text-decoration: none;
  color: #76B0BA;
}

#container
{
  width: 960px;
  margin: 0 auto;
  background-color: #f4ebdc;
  overflow: hidden;
}

#mainHeader
{
  height:180px;
	width: 952px;
  position: fixed;
  background-color: #f4ebdc;
  border-style: ridge;
  border-width: 5px;
}

#mainLogo
{
  width: 300px;
  height: 160px;
  position: fixed;
}

#mainNav
{
  margin-right: 200px;
  margin-left: 550px;
	position: fixed;
  margin-top: 50px;
  border-width: 5px;
  border-style: ridge;
  box-shadow: 5px 10px 5px #03414e;
}

#mainNav ul
{
  margin: 0 auto;
	list-style-type: none;
	padding: 25px;
  background-color: #f6c7a9;
}

#mainNav ul li
{
  display: inline;
	font-size: 20px;
  padding: 15px;
  border-width: 1px;
  border-style: ridge;
}

#mainNav ul li:hover
{
  background-color: #E0654F;
}

.selected
{
  background-color: #E0654F;
}

#mainContent
{
  margin-top: 230px;
  float: left;
  width: 860px;
  font-size: 40px;
  color: #414141;
  padding: 20px;
  text-align: center;
}

#noah
{
  float:left;
  width: 860px;
  margin-top: 50px;
}

#mainFooter
{
  float: left;
  width: 960px;
}

#footerLogo
{
  float: left;
}

#footerNav
{
  width: 600px;
  float: right;
  margin-right: 51px;
  margin-top: 25px;
  border-width: 5px;
  border-style: ridge;
}

#footerNav ul
{
  margin: 0 auto;
	list-style-type: none;
	padding: 15px;
  background-color: #f6c7a9;
}

#footerNav ul li
{
  display: inline;
	font-size: 20px;
  padding: 2px;
  margin-left: 150px;
  border-width: 1px;
  border-style: ridge;
}

#footerNav ul li:hover
{
  background-color: #E0654F;
}

/* Work page starts here*/

#mainImages
{
  width: 960px;
  float: left;
  margin-top: 210px;
}

.img
{
  float: left;
  width: 220px;
  height: 300px;
  border-width: 3px;
  border-style: ridge;
  margin-left: 5px;
}
